<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <!-- Provider=Microsoft.Jet.OLEDB.4.0;Data Source="E:\My Documents\Visual Studio 2012\Projects\Architecture Final Project\Requirements Application\Database1.mdb";Persist Security Info=True -->
      <!--<add name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Ethanpc\Documents\Database1.mdb"/>-->
      <add name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\My Documents\Visual Studio 2012\Projects\Architecture Final Project\Requirements Application\Database1.mdb;Persist Security Info=True"/>
    </connectionStrings>
</configuration>